<div class="container ns_main">
  <div class="col">
    <div class="row">
      <p class="ns-header text-left">
        Your slot bucket is empty :/
      </p>
    </div>
    <div class="row">
      <p class="ns-header text-left">
        You can get started by generating a new slot.
      </p>
    </div>
    <br/>
    <div class="row">
      <%= link_to 'Generate A Slot', new_slot_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

