<%= render partial: 'topbar' %>
<div class="speaker-filters">
  <div class="speakers-list">
    <% if @settings.show_featured_speaker %>
      <%= render partial: 'keynote_speakers_list' %>
    <% else %>
      <%= render partial: 'alphabet_filter', locals: {type: 'getSpeakers'}%>
    <% end %>
    <div class="row py-3" id="speaker-cards">
      <%= render partial: 'speakers_list', locals: {speakers: @speakers} %>
    </div>

    <div class="pagination-buttons col-4 text-center mx-auto">
      <button class="btn btn-outline-primary speaker-pagination" type="button" id="prev_speakers">
        <i class="fa fa-angle-left"></i> Prev
      </button>
      <button class="btn btn-outline-primary speaker-pagination" type="button" id="next_speakers">
        <i class="fa fa-angle-right"></i> Next
      </button>
    </div>
  </div>
  <div class="speaker-info">
    <div class="load-more" style="display: none;text-align: center;margin-top: 50px">
      <div class="loading08 display-4">
        <span data-text="L">L</span>
        <span data-text="O">O</span>
        <span data-text="A">A</span>
        <span data-text="D">D</span>
        <span data-text="I">I</span>
        <span data-text="N">N</span>
        <span data-text="G">G</span>
      </div>
    </div>
  </div>
</div>

<script>
  $('.lazyloaded').lazyload({
    load : function() {
      crop(this.src, 1).then((canvas) => {
        if(!$(this.parentElement).find('canvas')[0]){
          $(this.parentElement).prepend(canvas)
          $(this).hide()
        }  
      });
    }
  });

  $('body').on("click",".speaker-card", function(){
    event.preventDefault()
    url = this.href
    $.ajax({
      type: "get",
      url: url,
      beforeSend: function(){
        $(".speakers-list").hide()
        $('.load-more').show()
      }
    });
  })
</script>

<style type="text/css">
  .speaker-image canvas {
      height: 8rem;
      width: 8rem;
      border-radius: 50%;
  }
</style>