<%= link_to 'Back', event_file_types_path,class:"btn" %> 
<%= link_to 'Edit', edit_event_file_type_path(@event_file_type) ,class:"btn edit" %> 



<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event_file_type.name %>
</p>


