<div class="modal fade" id="userMisMatch" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content">
		<div class="modal-header">
		<h5 class="modal-title" id="exampleModalLongTitle">Continue as <%= @user.first_name %> ?</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		</div>
		<div class="modal-body">
			<%= link_to "Login", '/' %>
		</div>

		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

	</div>
	</div>
</div>

<%= render partial: 'layout' %>


<% if @userMisMatched %>
	<script>
		$('#userMisMatch').modal({
			backdrop: 'static',
			keyboard: false,
			show: true
		})
		$('#userMisMatch').on('hidden.bs.modal', function (e) {
			location.reload()
		})
	</script>
<% end %>