<div class="row justify-content-center">
	<div class="loader"></div>
</div>


<div class="row justify-content-center">
	<%= "Reference Transaction Id: #{@transaction.id}"%>
	<% if @error %>
		<p>Something Went Wrong, Please keep the Reference Transaction Id and share with us </p>
	<% end %>
</div>

<style>
	.loader {
	  border: 16px solid #f3f3f3; /* Light grey */
	  border-top: 16px solid #3498db; /* Blue */
	  border-radius: 50%;
	  width: 120px;
	  height: 120px;
	  animation: spin 2s linear infinite;
	}

	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}
</style>