<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>Hi <%= @email %>,</p>

    <p>Your new password is: <%= @password %></p>

    <p>Have a great day!</p>

  </body>
</html>