<%# <!DOCTYPE html> %>
<%# <html> %>
<%#   <head> %>
<%#     <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' /> %>
<%#   </head> %>
<%#   <body> %>
<%#   	<p>Hi <%= @email %1>,</p> %>

<%#     <p>Your password for the upcoming <%= @event.name %1> App is <%= @password %1>. Use it in combination with your email to access everything you need to know about <%= @event.name %1> directly from your phone!</p> %>

<%#     <p>Have a great day!</p> %>

<%#   </body> %>
<%# </html> %>
