

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>Hello <%= @attendee.first_name %> <%= @attendee.last_name %>,</p>

      <p>Thank you for attending the FEP National Conference in Minneapolis, MN.</p>

      <p>You will first need to download the iPhone/iPad app or the Android app. Alternatively, you can login to the web version at <a href='https://fep-nc.eventkaddy.net'>https://fep-nc.eventkaddy.net</a></p>

      <p>Once you have downloaded the app on your device, open the app, and then choose <i>FEP National Conference</i> from the event listing.</p>

      <p>Your login is the email you used to register: <%= @email %></p>

      <p>Your unique password is: <%= @password %></p>

      <p>To download the iPhone/iPad app, please follow this link:<br>
      <a href='https://itunes.apple.com/ca/app/fep-events/id1465172847?mt=8'>https://itunes.apple.com/ca/app/fep-events/id1465172847?mt=8</a></p>

      <p>To download the Android app, please follow this link:<br>
      <a href='https://play.google.com/store/apps/details?id=com.bcbsa.fep'>https://play.google.com/store/apps/details?id=com.bcbsa.fep</a></p>

      <p>You can also search for the app in the app stores by app name: FEP Events.</p>

      <p>Should you need assistance to download the new app, please visit the Mobile App Support desk at the conference. Support will be onsite beginning Sunday, June 2 during registration hours. You can also email for support help by contacting <a href='mailto:techsupport@eventkaddy.com'>techsupport@eventkaddy.com</a>.</p>

  </body>
</html>
