<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      Hello <%= @attendee.full_name %>,<br><br>
      Fiserv will send the lead retrieval report at a later time.
  </body>
</html>

