%br
%br
%br
.threads-container.box-shadow--6dp
  #lvnoticecontainer
    %h4.alert.alert-info
      You need to be a booth owner to access this page. Please contact the Admin at 
      = link_to " support@eventkaddy.com", 'mailto: @attendee.email', class: 'email-link'
      for more information.


