<h4>New Slot</h4>

<%= render 'form', slot: @slot %>

<%= link_to 'Back&nbsp;&nbsp;<i class="fa fa-arrow-left"></i>'.html_safe, slots_path, class:'btn btn-secondary' %>
<%= stylesheet_link_tag "slots", :media => "all" %>
