<div class="accordion bg-light border-right" id="sidebar-wrapper">
  <div class="p-2 text-center">
    <h4>Filters</h4>
  </div>
  <div class="list-group">
    <%= render partial: 'layouts/program_feeds_partials/filters', locals: {settings: @settings}%>
  </div>
</div>