.form-group
    %label Payment Successful Message inside Modal
    = f.text_area :payment_successful_modal_msg, style:"min-width:700px;height:100px"
.form-group
    %label Payment Successful Email Instruction Message inside Modal
    = f.text_area :payment_successful_modal_email_msg, style:"min-width:700px;height:100px"