.form-group.custom-control.custom-switch
    = f.check_box :show_header_edit_page, class: "custom-control-input"
    = f.label :show_header_edit_page, class: "custom-control-label" do
        Show Header
.form-group
    %label Form Header
    = f.cktext_area :reg_form_header, style:"min-width:700px;height:300px", :ckeditor => {:toolbar => "Full"}
