<div class = "bg-light px-3 py-3 custom-border">

    <h2>Application Game</h2>

    To start creating a game for your phone application, give it a name and description. They can be changed later at any time.

    <br>
    <br>

    <%= render "form" %>
    
</div>
