<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Hi <%= @user.email %>,

    
    <% if @new_account then %>
      <p>Your speaker portal account has been created by support staff.</p>
    <% else %>
      <p>Your speaker portal account has been reset by support staff.</p>
    <% end %>    
    
    <p>Your username is: <%= @user.email %><br/>
      Your password is: <%= @password %> <br/>
    </p>
    
    <p>
    To login to the speaker portal, just follow this link: <%= @url %> .
    </p>

    <p>Have a great day!</p>

  </body>
</html>