<div class="row justify-content-center">
<%= form_for(:user, url: '/members/submit_unsubscribe', :html => {:class => "form-horizontal col-md-6 member-form", remote: true }) do |f| %>
  
  <h3>Please fill the form to Unubscribe </h3>
  <div class="for-info">
    
  </div>
  <div class="form-group">
    <%= f.email_field :email , class: "form-control", required: true, placeholder: 'Email'%>
  </div>

  <div class="actions">
    <%= f.submit 'Unsubscribe', class:"btn btn-primary"   %>
  </div>

  <p> <%= link_to "Log In", new_user_session_path, {style: 'color: #2fa4e7;'} %> </p>
<% end %>
</div>

<script >
  ajaxUpdate = (event, data, xhr) => {
    if(xhr === 'success'){
      $('.for-info').html(`<div class='alert alert-info' role='alert'>${data.message}</div>`)
    }else{
      $('.for-info').html(`<div class='alert alert-danger' role='alert'>Something Went Wrong</div>`)
    }
  }

  $('.member-form').bind("ajax:success", ajaxUpdate).bind("ajax:error", ajaxUpdate)
</script>