_unused.rvmrc
scratch2.rb
node_modules
Gemfile.lock

event_app_form_data

ek_scripts/external-api-imports/*.xls
ek_scripts/external-api-imports/*.xlsx

virtual-edit.vim
config/flare_database.yml
config/oauth_credentials.yml
config/initializers/env_var.rb
config/master.key
config/redis.yml
cordova_setting_profiles/main_bugged.csv
cordova_setting_profiles/string_settings.csv
cordova_setting_profiles/todo.txt
responses_data.txt
virtual-edit.txt
cordova_setting_profiles/main2.csv
cordova_setting_profiles/main2.ods

# For Ce Certificates
app/services/pdf_generators
config/initializers/ce_credit_pdfs.rb
ek_scripts/pdf-generators

# file for inline ruby testing
eg_demo.rb
scratch.rb
scratch_archive.rb
scratch.js
scratch_2019-02-13.rb
scratch.vim
scratch.mysql
vim.vim

# ed's notes file
egnotes.org

images
ek_scripts/pdf-generators/187_border.png
ek_scripts/pdf-generators/187_certificate_of_attendance.png
ek_scripts/pdf-generators/187_detailed_continuing_education_certificate.png
ek_scripts/pdf-generators/avma2018_certificate_of_attendance_template1a.png
ek_scripts/pdf-generators/avma2018_continuing_education_p1a.png
ek_scripts/pdf-generators/avma2018_continuing_education_p2a.png
ek_scripts/pdf-generators/western_operations_conference_2018_template_p1.png
ek_scripts/pdf-generators/western_operations_conference_2018_template_p2.png
ek_scripts/pdf-generators/risk_and_compliance2018.png
ek_scripts/pdf-generators/avma2017_certificate_of_attendance_template.png
ek_scripts/pdf-generators/avma2017_continuing_education_p1.png
ek_scripts/pdf-generators/avma2017_continuing_education_p2.png
ek_scripts/pdf-generators/avma2018_continuing_education_p1.png
ek_scripts/pdf-generators/avma2018_continuing_education_p2.png
ek_scripts/pdf-generators/avma2018_certificate_of_attendance_template.png
ek_scripts/pdf-generators/risk_and_compliance2017.png
ek_scripts/pdf-generators/122_border.png
ek_scripts/pdf-generators/122_certificate_of_attendance.png
ek_scripts/pdf-generators/122_detailed_continuing_education_certificate.png
ek_scripts/pdf-generators/bcbs2018_certificate_of_completion.png
ek_scripts/pdf-generators/avma2018_certificate_of_attendance_template-v1.png
ek_scripts/pdf-generators/avma2018_continuing_education_p1-v1.png
ek_scripts/pdf-generators/bcbs2019_certificate_of_completion.png
ek_scripts/pdf-generators/solutions_seminar_for_financial_performance_and_risk_management2019.png
ek_scripts/pdf-generators/227_certificate_of_completion.png

# stuff added by D.B. that maybe should be deleted
ek_scripts/pdf-generators/avma2016_certificate_of_attendance_template-old.png
ek_scripts/pdf-generators/avma2016_continuing_education_p1-old.png
ek_scripts/pdf-generators/avma2016_continuing_education_p2-old.png
ek_scripts/pdf-generators/11avma2016_continuing_education_p1.png
ek_scripts/pdf-generators/fiserv_risk_intelligence_pdf.png
ek_scripts/pdf-generators/NACHA_AAP_ColorLogo.jpeg
ek_scripts/pdf-generators/bcbs2017header.png
ek_scripts/pdf-generators/bcbs2017signature.jpg
ek_scripts/pdf-generators/bcbs2017signature.png

# this was made during import class test, not sure if I want to 
# delete it yet, so just putting it in gitignore
ek_scripts/config_page_scripts/import-test.rb

bundle
.log
db/*.sqlite3
log/*.log
tmp/**/*
Gemfile.lock
# as in, ctags
# tags # this is too confusing to gitignore, so I put tags in .git/ now

event_data
public/assets
public/medal_images
structure.sql
node_modules/.yarn-integrity


#necessary for running rails app but don't want to keep adjusting
database.yml
settings.rb
.ruby-version
.ruby-gemset
uploads

ek_scripts/config_page_scripts/1row.xlsx
ek_scripts/config_page_scripts/PDF_sessions-waz_edit_use.xlsx
ek_scripts/external-api-imports/1row.xlsx	
ek_scripts/external-api-imports/1row.xlsx

config/initializers/validar-credentials.rb
config/initializers/global_constants.rb
ek_scripts/pdf-generators/avma_2015_logo.png
ek_scripts/pdf-generators/avma_2015_signature.png
local_gems_symlink
interactive_map_symlink

ek_scripts/pdf-generators/fiserv_banner.png
ek_scripts/pdf-generators/fiserv_logo.png
ek_scripts/pdf-generators/fiserv_signature.png
ek_scripts/pdf-generators/spe_sponsors.png
ek_scripts/pdf-generators/avma2016_certificate_of_attendance_template.png
ek_scripts/pdf-generators/avma2016_continuing_education_p1.png
ek_scripts/pdf-generators/avma2016_continuing_education_p2.png
ek_scripts/pdf-generators/acvs2016_signature.png
production_guide_readme 

#uncommited files on hermes, featuring one off scripts and xls files
public/event_data_orig/

ek_scripts/pdf-generators/motm_ihrim_background_for_pdf.png
app/assets/images/AlphaBar.png
app/assets/images/Bars.png
app/assets/images/Maps.png
app/assets/images/NoColor.png
app/assets/images/Thumbs.db
app/assets/images/bar-opacity.png
app/assets/images/map-opacity.png
app/assets/images/mappoint.gif
app/assets/images/picker.gif
app/assets/images/preview-opacity.png
app/assets/images/rangearrows.gif
app/controllers/does-not-work-events_controller.rb
app/views/events/!!!download_sessions.xlsx.axlsx
app/views/events/!avmaversiondownload_sessions.xlsx.axlsx
app/views/events/fromdev-download_sessions.xlsx.axlsx
app/views/session_files/-dont use spreadsheet_summary.xlsx.axlsx
ek_scripts/Database_Aptify_Soma.xlsx
ek_scripts/Speaker_List2_for_Soma.xlsx
ek_scripts/config_page_scripts/CAPTRUST-Exhibitors-download_1.24.xls
ek_scripts/config_page_scripts/CAPTRUST-Exhibitors-download_1.25.xls
ek_scripts/config_page_scripts/CAPTRUST-Exhibitors-download_1.25_updated.xls
ek_scripts/config_page_scripts/copyimport-exhibitors-mysql2-matched-v2 copy.rb
ek_scripts/config_page_scripts/import-exhibitors-mysql2-matched-v2 -CAPTRUST.rb
ek_scripts/config_page_scripts/updatedwvc2015v7.xlsx
ek_scripts/custom-adjustment-scripts/Database_Aptify_Soma.xlsx
ek_scripts/custom-adjustment-scripts/add_track_subtracks_to_sessions_isqua.rb
ek_scripts/custom-adjustment-scripts/change_note_title_to_conference_note.rb
ek_scripts/custom-adjustment-scripts/fill_session_file_urls_with_standard_data.rb
ek_scripts/custom-adjustment-scripts/import-avnotesoneoff-wvc2015.rb
ek_scripts/custom-adjustment-scripts/isquaattendees.rb
ek_scripts/custom-adjustment-scripts/removeabandonedspeakersessions.rb
ek_scripts/custom-import-scripts/avma_attendee_import2015.rb
ek_scripts/custom-import-scripts/avma_data_from_258pm_central.xls
ek_scripts/custom-import-scripts/avma_soma_records.xls
ek_scripts/custom-import-scripts/fluid-survey-create copy.rb
ek_scripts/custom-import-scripts/fluid-survey-create wvc.rb
ek_scripts/demo_data/AVMA-onerecord-sample(1).xls
ek_scripts/demo_data/Amapit_session data_052714.xls
ek_scripts/demo_data/Speaker-import-list-poultry(2).xls
ek_scripts/demo_data/exhibitor_dataset_nov2013.xls
ek_scripts/demo_data/mapit_poultry_session data_032614-no-abstracts.xls
ek_scripts/demo_data/mapit_poultry_session data_032614-no-abstracts2.xls
ek_scripts/demo_data/mapit_session data_052714.xls
ek_scripts/demo_data/mapit_session data_071314.xls
ek_scripts/demo_data/mapit_sessiondata072014-v2.xls
ek_scripts/demo_data/poultryonerecordupdate.xls
ek_scripts/demo_data/session_dataset_JULY18-v2.xls
ek_scripts/demo_data/session_dataset_nov2013.xls
ek_scripts/external-api-imports/DG-works-import-sessions-adp-motm-2015.rb
ek_scripts/external-api-imports/import-sessions-bcbs2015-test.rb
ek_scripts/external-api-imports/no-work-import-sessions-adp-motm-2015.rb
ek_scripts/from avma import-exhibitors-mysql2.rb
ek_scripts/import-speakersessions-speakerportal-avma-poultry-test.rb
ek_scripts/mapit_session_data_052714-v2.xls
ek_scripts/notused-utility-functions-old.rb
ek_scripts/old- import-sessions-mysql2.rb -old
ek_scripts/original-avma-import-sessions-mysql2.rb
ek_scripts/publish_avma.rb
ek_scripts/pdf-generators/acvs_sig.png
ek_scripts/custom-adjustment-scripts/set_alpha_tag_id.rb
ek_scripts/custom-adjustment-scripts/add_ordering_to_coe_session_tags.rb
ek_scripts/custom-adjustment-scripts/add_ordering_to_coned_session_tags.rb
ek_scripts/config_page_scripts/attendees_with_duplicates.xlsx
ek_scripts/config_page_scripts/import-attendees-acvs-new-only.rb
ek_scripts/custom-adjustment-scripts/attendees_bad_sessions_check.rb
ek_scripts/testing/
ek_scripts/pdf-generators/mte.png
ek_scripts/pdf-generators/motm_apa_background_for_pdf.png
ek_scripts/pdf-generators/motm_nasba_background_for_pdf.png
ek_scripts/pdf-generators/motm_shrm_background_for_pdf.png

config/initializers/api-settings.rb
config/reporting_database.yml
ek_scripts/custom-adjustment-scripts/add_attendees_to_event.rb
ek_scripts/custom-adjustment-scripts/add_fep_speakers.rb
ek_scripts/custom-import-scripts/fluid-survey-create-adpmotm.rb
ek_scripts/custom-import-scripts/fluid-survey-create.rb
ek_scripts/external-api-imports/get-video-thumbnails-videokaddy-2020.rb
ek_scripts/external-api-imports/import-attendees-bcbs-national-labour-2020.rb
ek_scripts/external-api-imports/import-attendees-bcbs2015.rb
ek_scripts/external-api-imports/import-attendees-bcbs2016.rb
ek_scripts/external-api-imports/import-attendees-bcbs2017.rb
ek_scripts/external-api-imports/import-attendees-bcbs2018.rb
ek_scripts/external-api-imports/import-attendees-bcbs2019.rb
ek_scripts/external-api-imports/import-attendees-chp-elite-april2018.rb
ek_scripts/external-api-imports/import-attendees-chp-feb2018.rb
ek_scripts/external-api-imports/import-attendees-chp2018.rb
ek_scripts/external-api-imports/import-attendees-fep_plan_operations2019.rb
ek_scripts/external-api-imports/import-attendees-fep_plan_operations2020.rb
ek_scripts/external-api-imports/import-attendees-fepfieldservice2019.rb
ek_scripts/external-api-imports/import-attendees-fepfinaudit2019.rb
ek_scripts/external-api-imports/import-attendees-fepfinaudit2020.rb
ek_scripts/external-api-imports/import-attendees-fepfirstnc2019.rb
ek_scripts/external-api-imports/import-attendees-fepfirstnc2020.rb
ek_scripts/external-api-imports/import-attendees-fiserv-raddon-2019.rb
ek_scripts/external-api-imports/import-attendees-fiserv2019-SLM.rb
ek_scripts/external-api-imports/import-attendees-fiserv2019-SalesKickoff.rb
ek_scripts/external-api-imports/import-attendees-fiserv2020-March.rb
ek_scripts/external-api-imports/import-attendees-fiserv2020-SalesKickoff.rb
ek_scripts/external-api-imports/import-attendees-fiservCUE2019.rb
ek_scripts/external-api-imports/import-attendees-fiservCUexperience2018.rb
ek_scripts/external-api-imports/import-attendees-fiservCashLog2018.rb
ek_scripts/external-api-imports/import-attendees-fiservFL2018.rb
ek_scripts/external-api-imports/import-attendees-fiservNautilus2018.rb
ek_scripts/external-api-imports/import-attendees-fiservSLM2018.rb
ek_scripts/external-api-imports/import-attendees-fiservSLM_fall2019.rb
ek_scripts/external-api-imports/import-attendees-fiservSSRC2018.rb
ek_scripts/external-api-imports/import-attendees-fiservSSRC2019.rb
ek_scripts/external-api-imports/import-attendees-fiservSSTO2018.rb
ek_scripts/external-api-imports/import-attendees-fiservSSTO2019.rb
ek_scripts/external-api-imports/import-attendees-fiservSSTO2020.rb
ek_scripts/external-api-imports/import-attendees-gssales2013.rb
ek_scripts/external-api-imports/import-attendees-ifsa2019.rb
ek_scripts/external-api-imports/import-attendees-western2018.rb
ek_scripts/external-api-imports/import-attendees-wvc2013.rb
ek_scripts/external-api-imports/import-attendees-wvc2014.rb
ek_scripts/external-api-imports/import-exhibitors-apex2019.rb
ek_scripts/external-api-imports/import-exhibitors-avma2013.rb
ek_scripts/external-api-imports/import-exhibitors-avma2014.rb
ek_scripts/external-api-imports/import-exhibitors-avma2016.rb
ek_scripts/external-api-imports/import-exhibitors-avma2017.rb
ek_scripts/external-api-imports/import-exhibitors-avma2018.rb
ek_scripts/external-api-imports/import-exhibitors-avma2019.rb
ek_scripts/external-api-imports/import-exhibitors-bcbs2015.rb
ek_scripts/external-api-imports/import-exhibitors-bcbs2016.rb
ek_scripts/external-api-imports/import-exhibitors-bcbs2017.rb
ek_scripts/external-api-imports/import-exhibitors-bcbs2018.rb
ek_scripts/external-api-imports/import-exhibitors-bcbs2019.rb
ek_scripts/external-api-imports/import-exhibitors-cinemacon.rb
ek_scripts/external-api-imports/import-exhibitors-fepfirstnc2019.rb
ek_scripts/external-api-imports/import-exhibitors-wvc2013.rb
ek_scripts/external-api-imports/import-exhibitors-wvc2014.rb
ek_scripts/external-api-imports/import-integrations-from-events-controller-to-db.rb
ek_scripts/external-api-imports/import-meetings-avma2018.rb
ek_scripts/external-api-imports/import-meetings-avma2019.rb
ek_scripts/external-api-imports/import-sessions-adp-motm-2014.rb
ek_scripts/external-api-imports/import-sessions-adp-motm-2015.rb
ek_scripts/external-api-imports/import-sessions-adp-motm-2016.rb
ek_scripts/external-api-imports/import-sessions-adp.rb
ek_scripts/external-api-imports/import-sessions-apex2019.rb
ek_scripts/external-api-imports/import-sessions-attendees-avma2018.rb
ek_scripts/external-api-imports/import-sessions-attendees-avma2019.rb
ek_scripts/external-api-imports/import-sessions-avma2015.rb
ek_scripts/external-api-imports/import-sessions-avma2016.rb
ek_scripts/external-api-imports/import-sessions-avma2017.rb
ek_scripts/external-api-imports/import-sessions-avma2018.rb
ek_scripts/external-api-imports/import-sessions-avma2019.rb
ek_scripts/external-api-imports/import-sessions-bcbs2015.rb
ek_scripts/external-api-imports/import-sessions-bcbs2016.rb
ek_scripts/external-api-imports/import-sessions-bcbs2017.rb
ek_scripts/external-api-imports/import-sessions-bcbs2018.rb
ek_scripts/external-api-imports/import-sessions-bcbs2019.rb
ek_scripts/external-api-imports/import-sessions-chp-elite-april2018.rb
ek_scripts/external-api-imports/import-sessions-chp-feb2018.rb
ek_scripts/external-api-imports/import-sessions-chp2018.rb
ek_scripts/external-api-imports/import-sessions-cinemacon.rb
ek_scripts/external-api-imports/import-sessions-fepfieldservice2019.rb
ek_scripts/external-api-imports/import-sessions-fepfinaudit2019.rb
ek_scripts/external-api-imports/import-sessions-fepfirstnc2019.rb
ek_scripts/external-api-imports/import-sessions-fepplanoperations2019.rb
ek_scripts/external-api-imports/import-sessions-fepplanoperations2020.rb
ek_scripts/external-api-imports/import-sessions-fiservSSRC2018.rb
ek_scripts/external-api-imports/import-sessions-gssales2013.rb
ek_scripts/external-api-imports/import-sessions-notes-avma2017.rb
ek_scripts/external-api-imports/import-sessions-notes-avma2018.rb
ek_scripts/external-api-imports/import-sessions-notes-avma2019.rb
ek_scripts/external-api-imports/import-sessions-siggraph-2015.rb
ek_scripts/external-api-imports/import-sessions-western2018.rb
ek_scripts/external-api-imports/import-sessions-wvc2013-v2.rb
ek_scripts/external-api-imports/import-speaker-photos-avma2017.rb
ek_scripts/external-api-imports/import-speaker-photos-avma2018.rb
ek_scripts/external-api-imports/import-speaker-photos-avma2019.rb
ek_scripts/external-api-imports/import-speaker-photos-bcbs2019.rb
ek_scripts/external-api-imports/import-speakers-apex2019.rb
ek_scripts/external-api-imports/import-speakers-bcbs2017.rb
ek_scripts/external-api-imports/import-speakers-bcbs2018.rb
ek_scripts/external-api-imports/import-speakers-bcbs2019.rb
ek_scripts/external-api-imports/import-speakers-fepfieldservice2019.rb
ek_scripts/external-api-imports/import-speakers-fepfinaudit2019.rb
ek_scripts/external-api-imports/import-speakers-fepfirstnc2019.rb
ek_scripts/external-api-imports/non-mandatory-job-example.rb
ek_scripts/external-api-imports/old/
ek_scripts/external-api-imports/wvc-time-convert.rb
ek_scripts/pdf-generators/106_ce_certificate.rb
ek_scripts/pdf-generators/107_attendance_certificate.rb
ek_scripts/pdf-generators/114_risk_intelligence_certificate.rb
ek_scripts/pdf-generators/118_certificate_of_attendance.rb
ek_scripts/pdf-generators/118_detailed_certificate_of_attendance.rb
ek_scripts/pdf-generators/119_bcbs_certificate_of_completion.rb
ek_scripts/pdf-generators/122_certificate_of_attendance.rb
ek_scripts/pdf-generators/122_detailed_continuing_education_certificate.rb
ek_scripts/pdf-generators/126_aap_documentation_of_attendance.rb
ek_scripts/pdf-generators/134_fiserv_cpe_credit_certificate.rb
ek_scripts/pdf-generators/158_detailed_certificate_of_attendance.rb
ek_scripts/pdf-generators/161_bcbs_certificate_of_completion.rb
ek_scripts/pdf-generators/171_aap_documentation_of_attendance.rb
ek_scripts/pdf-generators/181_certificate_of_completion.rb
ek_scripts/pdf-generators/182_fiserv_cpe_credit_certificate.rb
ek_scripts/pdf-generators/187_certificate_of_attendance.rb
ek_scripts/pdf-generators/187_detailed_continuing_education_certificate.rb
ek_scripts/pdf-generators/201_certificate_of_attendance.rb
ek_scripts/pdf-generators/201_detailed_continuing_education_certificate.rb
ek_scripts/pdf-generators/205_certificate_of_completion.rb
ek_scripts/pdf-generators/208_certificate_of_attendance.rb
ek_scripts/pdf-generators/208_detailed_certificate_of_attendance.rb
ek_scripts/pdf-generators/214_cpe_certificate.rb
ek_scripts/pdf-generators/227_certificate_of_completion.rb
ek_scripts/pdf-generators/247_certificate_of_attendance.rb
ek_scripts/pdf-generators/247_detailed_continuing_education_certificate.rb
ek_scripts/pdf-generators/267_certificate_of_completion.rb
ek_scripts/pdf-generators/78_certificate_of_attendance.rb
ek_scripts/pdf-generators/78_detailed_continuing_education_certificate.rb
ek_scripts/pdf-generators/acvs_attendee_ce_sessions.rb
ek_scripts/pdf-generators/adp_attendee_ce_sessions.rb
ek_scripts/pdf-generators/avma_attendee_ce_sessions.rb
ek_scripts/pdf-generators/siggraph-rooms.rb
ek_scripts/external-api-imports/import-attendees-adp.rb
ek_scripts/external-api-imports/import-attendees-avma2018.rb
ek_scripts/external-api-imports/import-attendees-avma2019.rb
ek_scripts/external-api-imports/import-attendees-avma2019_full.rb
ek_scripts/demo_data/
cordova_setting_profiles/

public/adp_pdfs/
*.swp
*.swo
*.swl
*.swm
*.swn
../.eventkaddy.swp

libv8/
/config/creds/
db/schema.rb

/config/master.key
