<%= link_to 'Back', sponsor_level_types_path,class:"btn" %> 
<%= link_to 'Edit', edit_sponsor_level_type_path(@sponsor_level_type) ,class:"btn edit" %>


<p id="notice"><%= notice %></p>

<p>
  <b>Sponsor type:</b>
  <%= @sponsor_level_type.sponsor_type %>
</p>



