<%= link_to 'Show', @coupon ,class:"btn show" %> |
<%= link_to 'Back', coupons_path, class:"btn btn-primary" %>

<div class="row">
  <div class="col-md-12">
    <h4>Editing coupon</h4>
    <%= render 'form' %>
  </div>
</div>

