<%= link_to 'Back', speaker_types_path,class:"btn" %> 
<%= link_to 'Edit', edit_speaker_type_path(@speaker_type) ,class:"btn edit" %> 



<p id="notice"><%= notice %></p>

<p>
  <b>Speaker type:</b>
  <%= @speaker_type.speaker_type %>
</p>


