<div class="card" style="margin:auto; padding-bottom:10px">
  <div class="card-body">
    <h2 class="card-title">Message</h2>
    <p class="card-text" style="font-size:18px"><%= @message %></h4>
  </div>
</div>