console.log("ajax response for adp refresh exhibitors");


$('#refresh-exhibitors-form').bind("ajax:success", function(){

	console.log("data successfully refreshed");
	$('#upload-notice').append("<p class='notice'>Exhibitor Data Successfully Refreshed</p>");
<!-- 	$('#upload-debug').append("<p class='notice'><%= escape_javascript(@import_exhibitor_result.html_safe) %></p>"); -->

});