console.log("ajax response for upload mobileconfs");


$('#upload-mobileconf-form').bind("ajax:success", function(){
  if ( $(this).data('remotipartSubmitted') ) {
  
  	console.log("data successfully uploaded");
  	$('#upload-notice').append("<p class='notice'>Mobile Configuration Data Successfully Uploaded</p>");
	$('#upload-debug').append("<p class='notice'><%= escape_javascript(@import_mobileconf_result.html_safe) %></p>");
  
  	
  }
  
  
});





