<%#= remotipart_response do %>

// console.log("ajax response for upload sessions");


// $('#upload-session-form').bind("ajax:success", function(){
//   if ( $(this).data('remotipartSubmitted') ) {

//   	console.log("data successfully uploaded");
//   	$('#upload-notice').append("<p class='notice'>Session Data Successfully Uploaded</p>");
//   	$('#upload-debug').append("<p class='notice'><%= escape_javascript(@import_session_result) %></p>");

//   }


// });

<%# end %>

