<%= link_to 'Back', record_types_path,class:"btn" %> 
<%= link_to 'Edit', edit_record_type_path(@record_type) ,class:"btn edit" %> 



<p id="notice"><%= notice %></p>

<p>
  <b>Record type:</b>
  <%= @record_type.record_type %>
</p>


