<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <br>
  	<h1><%= @event_name %></h1>

    <p>Welcome to the <%= @event_name %>. This portal allows you to upload contact details and company logo and access vendor exhibit information. You will also find exhibitor documentation to download.</p>

    <p>To login, please use your email address.</p>

    Your username is your email: <%= @email %><br>
    Your password is: <%= @password %>

    <p>To access the portal, please follow this link: <a href='https://bcbsa.eventkaddy.net'>https://bcbsa.eventkaddy.net</a></p>

    <p>If you have any questions, please contact <a href='mailto:fepmeetings@bcbsa.com'>fepmeetings@bcbsa.com</a></p>
  </body>
</html>






