.bg-light.custom-border.px-3.py-3.my-3{style:'min-height:500px;'}
  In this section of the website, styles, images, and various toggles can be modified for the various Event Kaddy portals and apps. 
  %br
  %br
  In the case of the video portal, most of these settings require logging out of the video portal before they will take effect as settings are pulled on the login page.
