<%= link_to 'Back', location_mapping_types_path,class:"btn" %> 
<%= link_to 'Edit', edit_location_mapping_type_path(@location_mapping_type) ,class:"btn edit" %> 



<p id="notice"><%= notice %></p>

<p>
  <b>Type name:</b>
  <%= @location_mapping_type.type_name %>
</p>

