<h3>Please Complete the Purchase For enabling the features</h3>
<p>You can complete your payment by clicking following link</p>
<%= link_to 'Complete Your Payment', "/#{session[:event_id]}/exhibitor_registrations/payment/#{current_user.id}/select_booth", class: 'btn btn-outline-primary', target: '_blank' %>