<div class="row">
  <div class="col-md-11 mx-auto bg-light custom-border">
    <h4>Editing Home Button Group</h4>
<!-- <%= link_to 'Delete', @home_button_group, :confirm => 'Are you sure?', :method => :delete ,class:"btn delete" %> -->

    <%= render 'form' %>
  </div>
</div>

