<!-- <%= link_to 'Back', home_button_groups_path, :class=>"btn" %> -->
<div class="row">
  <div class="col-md-11 mx-auto bg-light custom-border">
    <h2>New Home Button Group</h2>


    <%= render 'form' %>
  </div>
</div>


