<h4 class="view-title">Track Details</h4>
<%= link_to 'Edit', edit_track_path(@track) ,class:"btn edit" %>

<table class="table">
<tr><th>Track Name</th><td><%= @track.name %></td></tr>
<!--tr><th>Color</th><td><div id="track-color" style='background-color:#<%= @track.track_color %>;width:50px;height:20px;display:block'></div></td></tr-->
</table>
