:css
    .primary-instruction {
        color:#283927;
        font-size:26px;
        font-weight:900;
        margin-bottom:30px;
        padding:30px;
        background-color:#B6FFB1;
        border-radius:5px;
        border:1px #CCCCCC solid;
        line-height:40px;
    }

    .wizard-container {
        min-height:700px;
    }

    .survey-tree-container {
        height:200px;
        padding:40px;
        font-size:14px;
        background-color:#FCFCFC;
        overflow-y:auto;
        border:1px solid #8D8D8D;
        / border-left:1px solid #8D8D8D;
        / border-right:1px solid #8D8D8D;
    }

    .top-panel {
        / padding:10px;
        / border-radius:10px;
        border-bottom:#8D8D8D 1px solid;
        border-left:#8D8D8D 1px solid;
        border-right:#8D8D8D 1px solid;
        background-color:#EFEFEF;
        border-bottom-left-radius:6px;
        border-bottom-right-radius:6px;
    }

    .top-panel .btn {
        margin:0px;
    }

    .wizard-removal {
        / border-radius:0px;
    }

    / .active.highlight-warn:hover,
    / .active.highlight-warn:focus {
    /     background-color:#A9A900 !important;
    / }

    .wizard-label {
        font-size:16px;
        font-weight:900;
        margin-bottom:15px;
        margin-top:20px;
    }

    .wizard-label-inline {
        font-size:16px;
        font-weight:900;
        margin-bottom:15px;
        margin-top:20px;
        display:inline-block;
        vertical-align:middle;
    }

    .wizard-checkbox {
        height:15px;
    }

    .wizard-input {
        width:99%;
    }

    .well.survey-tree-container > div {
        font-weight: bold;
        margin-bottom:5px;
    }

    .treeprefix {
        color:#4951FE;
        cursor: pointer;
        text-decoration: underline;
    }

    .time-field select {
        width:auto;
    }

    .sub-instruction {
        margin-bottom:10px;
    }

    .tree-question-container {
        margin-bottom:20px;
    }

    .tree-questions {
        margin-top:20px;
    }

    .tree-question_type {

    }

    .answers-container {
        margin-left:15px;
        margin-top:10px;
    }

    .hints-container {
        margin-left:15px;
        margin-top:10px;
    }

    .save_button {
        margin:0px;
        border-radius:0px;
    }

    .wizard-bar-btn-group {
        margin-left:0px;
    }

    .wizard-bar-btn-group > .btn:first-child {
        border-radius:0px;
        margin:0px;
    }

    .wizard-bar-left-btn {
        border-bottom-left-radius:5px;
    }

    .tree-survey_section-container {
        margin:10px;
    }

    .tree-question-container {
        margin:10px;
    }

    .wizard-extra-details {
        color:#727272;
        margin-top:10px;
        / font-style:italic;
        font-size:16px;
        / padding-left:10px;

    }

    .dont_save_button,
    .save_button {
        cursor:pointer;
    }

    .sync_status {
        color:       green;
        font-weight: bold;
        display:     none;
    }

    .move_up, .move_down {
        -# size: 5px;
        cursor: pointer;
        margin-right:5px;
        -# padding: 5px;
        -# background-color:yellow;
        -# -# border:2px solid black;
    }
