<%= form_for(@exhibitor_portal_global_config) do |f| %>
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h3 id="modal-title">New Portal Config</h3>
  <button type="button" class="close" data-dismiss="modal">×</button>
</div>
<div class="modal-body">

  
    <div class="form-group">
      <%= f.label :name, "Config name" %>
      <%= f.text_field :name, class:'clear-on-submit', required:true, class: "form-control" %>
    </div>

</div>
<div class="modal-footer">
  <button class="btn btn-danger cancel" data-dismiss="modal" type="button">Cancel</button>
  <%= f.submit id:"quick-add-submit",class:"btn btn-primary" %>
</div>
</div>
</div>

<% end %>
