<div class="dropdown">
  <div
    class="btn report-dropdown dropdown-toggle"
    data-toggle="dropdown"
  >
    Video Views Downloads
  </div>
  <div class="dropdown-menu report-dropdown-list">
    <%= link_to "Export Video Views To Spreadsheet", "/attendees/#{@attendee.id}/video_views_report", class: "dropdown-item" %>
  </div>
</div>
<br>
<h4 class="view-title">Video Views</h4>
<br />
<br />
<table
    id="cms-attendees-video-views-table"
    cellpadding="0"
    cellspacing="0"
    border="0"
    class="table table-striped table-bordered"
  >
    <thead>
      <th>session code</th>
      <th>session title&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>total watched (hh:mm:ss)</th>
    </thead>
  <% !@video_views.blank? && @video_views.each do |session| %>
    <tr>
      <td><%= session[:session_code] %></td>
      <td><%= session[:title] %></td>
      <td style="text-align:center"><%= link_to formatted_duration(session[:view_total]), "/attendees/#{@attendee.id}/view_history/video_views/#{session[:id]}"%></td>
    </tr>
    <% end %>
  </table>

<script>
  $(function () {
    $.extend($.fn.dataTableExt.oStdClasses, {
      sWrapper: 'dataTables_wrapper form-inline'
    })
    $('#cms-attendees-video-views-table').dataTable({
      sDom: "<'pull-left'l><'ml-auto mr-1'f>rt<'pull-left'i><'ml-auto'p>"
    })
    $('dataTables_filter').css('display', 'none')
    return $('table.dataTable th').css('max-width', '97% !important')
  })
</script>