<%= link_to 'Back', map_types_path,class:"btn" %> 
<%= link_to 'Edit', edit_map_type_path(@map_type) ,class:"btn btn-outline-success" %> 



<p id="notice"><%= notice %></p>

<p>
  <b>Map type:</b>
  <%= @map_type.map_type %>
</p>


