<%= link_to 'Back', mode_of_payments_path, class: "btn btn-secondary" %>

<div class="row">
  <div class="col-md-12">
    <h4>Edit <%= @payment.name %> Details</h4>

    <%= render 'form' %>
  </div>
</div>