<h4>Session Details</h4>

<%= link_to 'Back', "/speaker_portals/sessions/#{@session.id}" ,class:"btn btn-link" %>
<%= link_to 'AV Requests', "/session_av_requirements/#{@session.id}/index" ,class:"btn btn-link" %>
<!--<%= link_to 'Room Layouts', "/room_layouts/#{@session.id}/session_links" ,class:"btn" %>-->